html,body {
  padding: 0;
  margin: 0;
}

body {
  background-color: oldlace;
}

header,main {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
}

header {
  background-color: papayawhip;
}

main {
  background-color: ivory;
}
h1 {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}
a:hover { 
    text-decoration: underline;
   }

p{
	padding-left: 25px;
}
